@charset "UTF-8";
:root{
    --primary-color:#6366F1;
    --accent-color:#3f83f8;
    --text-color:#333333;
    --link-color:#2563eb;
    --background-color:#ffffff;
    --light-gray:#f0f0f0;
    --gray:#808080;
    --dark-gray:#555;
}

.answer{
    border-top: 1px solid var(--gray);
}

.ans{
    color: #2563eb;
}

.Cards{
    /* max-width: 1280px; */
    margin-top: 2rem;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5.5rem;
    justify-content: center ;
    align-items: center;
    background: var(--gray);
    padding: 4rem;

    margin-bottom: 4rem;
    overflow: hidden;
}



.card-frame{
    height: 22rem;
    width: 21rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;
    box-shadow: 0px 10px 3px #f69489;
    background-color: white;
    /* transition: all ease-in-out 0.5s; */
    animation: animate ease-in-out 3s;
    
}


@keyframes animate {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }

    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

.profile{
    display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0;
  flex-direction: row;
  width: 20rem;
  height: 3rem;
}

.photo{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.info h3{
    font-weight: 700;
    color: var(--text-color);
}

.info span{
    font-weight: 100;
    color: var(--gray);
}
.thumb{
    position: relative;
}

#anchor{
    height: 12rem;
  width: 20rem;
  border-radius: 1rem;
  display: inline-block;
}

.html-img{
    height: 12rem;
  width: 20rem;
  border-radius: 1rem;
  cursor: pointer;
}

.thumb span{
    position: absolute;
  width: 5rem;
  padding: 0.3rem 0.9rem;
  top: 0.6rem;
  left: 1rem;
  background-color: rgba(0,0,0,.3);
  color: white;
  border-radius: 0.3rem;
  text-align: center;
  font-size: 1rem;
}

.html-desc{
    font-size: 1.5rem;
    color: var(--text-color);
    text-align: left;
}

.view-d{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.view-details{
	display: flex;
	justify-content: center;
	align-items: center;
    border-radius: .5rem;
  font-size: 1.2rem;
  cursor: pointer;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  background-color: #8e44ad;
  margin-top: 0 rem;
  color: var(--background-color);
  text-align: center;
}

.view-details:hover{
    background-color: #2c3e50;;
    color: #ffffff;
}

@media screen and (max-width: 1404px){

    .Cards{
        /* max-width: 1280px; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        overflow: hidden;
        grid-auto-flow: row;
    }

}

@media screen and (max-width: 928px)
{
   .Cards{
    overflow-x: hidden;
   }
}

@media screen and (max-width: 897px)
{
   .Cards{
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
   }
}